<div class="container">
    <div class="row">
        <div *ngFor="let card of products" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 ">
        <br/>
        <div class="card card-hover" >
            <img class="card-img-top" src={{card.productPath}} alt={{card.productDescription}} style="width:100%; height:75%">

            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{card.productName}}</h5>
   
                <p class="card-text" align="left">{{card.productDescription}}</p>
                <div class="card-footer">
                    <small class="text-muted">{{card.productPrice | currency:'INR'}}</small>
                </div>
                <h5 align="left">3N/4N/5N/7N</h5>
                <p align="right"> 
                    <button class="btn btn-primary" (click)='explore(card)'> Explore </button>
                </p>
            </div>
        </div>
        </div>
    </div>
</div>