 <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 
 <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgb(235, 68, 82);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="assets\Images\logo\log.png"
      style="width: 100px;margin-top: -27px;" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">          

          <li class="nav-item">
            <a class="nav-link" href="#">Trips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Trips</a>
          </li>
           
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li><a href="#" routerLink="login"><span class="glyphicon glyphicon-log-in" style="color: white;"></span> Login</a></li>
          </ul>
      </div>
    </div>
  </nav>














   