<head>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
	crossorigin="anonymous">
</head>
<body>

<h2 align="center" style="color: #E53A24;">Open Tickects</h2>

<form *ngIf="trips.length" id="print-section">
    <div class="border" *ngFor="let t of trips">
        <div id="results" style="width: 560px;">
            <div class="form-group row">
                <div class="col-sm-10">
                  <img src={{t.imgPath}} style="width: 300Px;height:300px;">
                </div>
              </div>
              <div class="relative1">
                <h4 class="relative1">Description</h4>
                <div class="relative1">
                  <p class="relative1" style="width: 400px;">{{t.description }} </p>
                </div>                  
                </div>
              </div>
    <div id="search" style="width: 560px;">
    <div class="form-group row">
        <label for="prodName" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Package</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{t.prodName}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDate" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Travel&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{t.travelDate | date:'dd-MMM-yyyy'}} ">
        </div>
      </div>
      <div class="form-group row">
        <label for="quantity" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Travellers</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{t.quantity}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="totalAmount" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Total</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{t.totalAmount*0.9}}">
        </div>
      </div>
      <button class="btn btn-success" *ngIf="t.emailID!=mailID" style="visibility: visible;"  (click)="buyNow(t)">BuyNow</button>
      <button class="btn btn-danger" *ngIf="t.emailID===mailID" style="visibility: visible;"  (click)="deletePlaceHolder(t)">Cancel</button>
      </div></div>
</form>
<!-- <div align="right"><button class="btn btn-success" printSectionId="print-section" ngxPrint>CHECKOUT</button></div> -->
</body>